/* Reset */

*{
    box-sizing: border-box;
}

ul, ol{
    list-style-type: none;
}

img{
    display: block;
    height: auto;
}

h1, h2, h3, p, ul, ol, li{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* Hide & Show */
.hide{
    display: none;
    opacity: 0;
}

.show {
    display: flex;
}

.yes-opacity{
    opacity: 100;
}

.no-opacity{
    opacity: 0;
}

/* Styles */
body{
    margin: 0 3%;
    height: 100vh;
}

main{
    height: 100vh;
    display: flex;
    text-align: center;
    justify-items: center;
    align-self: center;
}

section{
    flex: 1;
    display: flex;
    align-items: center;
}

#center{
    justify-content: center;
    padding-top: 0;
    gap: 0;
    width: auto;
}

section{
    padding-top: 15vh;
    flex-direction: column;
    gap: 12vh;
    width: 30vw;
}

h2{
    color: #1a1a1a;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 20px;
}

#paper-route, #tote-route, #plastic-route{
    width: auto;
}

div {
    width: 25vw;
}

div ul {
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto;
}

div ul li{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid #1a1a1a;
    background: #ffffff;
    color: #1a1a1a;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

div ul li:hover{
    background: #1a1a1a;
    color: #ffffff;
    cursor: pointer;
}

.done ul .selected {
    background: #1a1a1a;
    color: #ffffff;
}

.done ul li:not(.selected):hover {
    background: white;
    color: black;
    cursor: default;
}

.inactive{
    color: rgb(188, 188, 188);
    border-color: rgb(188, 188, 188);
}

#textbook ul, #food ul, #condition ul, #condition2 ul, #rain ul, #accident ul, #fashion ul, #about-time ul, #convenience ul{
    grid-template-columns: auto;
}


/* ----------------- Left ----------------- */
#sad img, #drop img, #wet img, #rip img, #trash img{
    height: 100px;
}

#waves img, #research img{
    height: 40px;
}

#plastic-left{
    gap: 10vh;
}

/* ----------------- Center ----------------- */
#center {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 60px;
}

#bags{
    justify-content: center;
    margin-bottom: 56px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
}

#bags ul li{
    height: auto;
    border: none;
    background-color: #ffffff00;
}

#start-paper:hover, #start-plastic:hover, #start-tote:hover{
    background-color: #eaeaeacd;
    border-radius: 200px;
    cursor: pointer;
}

/* #start-paper, #start-plastic, #start-tote{
    padding: 0 41px;
} */

#start-paper img{
    padding: 0 41px;
}

#start-plastic img{
    padding: 30.5px 15px;
}

#start-tote img{
    padding: 32px 0;
}


/* ----------------- Right ----------------- */
div{
    flex-direction: column;
}

#love ul{
    grid-template-columns: auto;
}

em{
    font-weight: 700;
    font-style: normal;
}

#end ul{
    grid-template-columns: auto;
}